<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chaos.post.mapper.PostTagMapper">
    <select id="getPostTagsByPostIds" resultType="com.chaos.post.domain.entity.PostTag">
        SELECT post_id ,tag_id
        FROM t_post_tag
        WHERE post_id IN
        <foreach collection="postIds" item="postId" open="(" separator="," close=")">
            #{postId}
        </foreach>
    </select>
</mapper>